# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Build directories
dist/
build/

# Environment variables
.env

# Ignore Mac system files
.DS_Store

# Ignore Windows system files
Thumbs.db
